:root {
  --main-color: #003153;
  --main-color-tint: #668398;
  --main-color-light: #e6eaee;
  --red-color: #A40202;
  --selection-color: #0063a8;
  font-size: 16px;
}

*::selection {
  background-color: var(--selection-color);
  color: white;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: var(--main-color-light);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-color-tint);
  border-radius: 5px;
}

input:focus, textarea:focus {
  outline: 1px solid var(--main-color);
}

input[type='checkbox']:focus {
  outline: none;
}

input[type='checkbox'] {
  appearance: none;
  width: 32px;
  height: 16px;
  border: 1px solid black;
  border-radius: 7px;
  vertical-align: middle;
  transition: all 0.2s;
}

input[type='checkbox']:checked {
  background-color: var(--main-color);
}

input[type='checkbox']::before {
  content: " ";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: white;
  transform: translate(1px, 3px);
  transition: all 0.2s;
}

input[type='checkbox']:checked::before {
  border: none;
  transform: translate(21px, 3px);
}

button[type='submit'] {
  background-color: var(--main-color);
  color: white;
  padding: 5px;
  border-radius: 5px;
  opacity: 0.8;
  margin-left: 5px;
}

button[type='submit']:hover {
  opacity: 1;
}

button[type='reset']:hover, button[type='button']:hover {
  text-decoration: underline;
}

button:disabled {
  opacity: 0.4;
}

button:disabled:hover {
  cursor: default;
}

form {
  display: flex;
  flex-direction: column;
}

form input, textarea {
  margin-top: 5px;
  margin-bottom: 10px;
}

form textarea {
  min-height: 50px;
  width: 100%;
  resize: vertical;
}

.hidden {
  top: -200px;
}

header {
  box-shadow: 0 0px 5px 0px var(--main-color-tint, black);
  height: 100px;
  padding: 5px 10px;
  border-radius: 0 0 40px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top:0;
  background-color: white;
  font-size: 1.2rem;
  z-index: 2;
  transition: all 0.3s;
}

header>* {
  flex: 1;
  display: flex;
  justify-content: center;
}

nav ul{
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin: 0 1rem;
  transform-origin: center;
}

nav ul li:hover, #btn-logout:hover {
  scale: 1.1;
  transition: scale 0.1s;
}

#container-logout {
  margin: 0;
}

#btn-logout {
  color: var(--red-color);
} 

main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.profile {
  /* background-color: var(--main-color); */
  border: 1px solid var(--main-color);
  /* color: white; */
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 0 0 10px;
  max-width: 40vw;

  position: sticky;
  top:0;
}

#btn-avatar, .profile-avatar {
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
}

#btn-delete-avatar {
  margin-top: 5px;
  font-size: 0.7rem;
  margin-left: auto;
  transition: all 0.1s;
}

#btn-delete-avatar:hover {
  text-decoration: underline;
}

#btn-avatar {
  position: relative;
}

#btn-avatar>*:nth-child(2) {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  top:0;
  left:0;
  opacity: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0,0,0,0.3);
  transition: opacity 0.2s;
}

#btn-avatar:hover>*:nth-child(2) {
  opacity: 100%;
}

.profile-info {
  line-height: 1.5rem;
}

#btn-edit-profile {
  font-size: 0.9rem;
  border: 1px solid white;
  background-color: white;
  color: var(--main-color);
  padding: 2px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#btn-edit-profile:hover {
  color: white;
}

#btn-edit-profile::before {
  position: absolute;
  content: '';
  z-index: -1;
  background-color: var(--main-color);
  bottom:0;
  left:0;
  right: 0;
  top:100%;
  transition: top 0.1s;
}

#btn-edit-profile:hover::before {
  top:0;
}

.profile-info-title {
  font-weight: bold;
}

.pop-up-container {
  position: fixed;
  background-color: rgba(0,0,0,0.3);
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  color: var(--main-color);
}

.pop-up-container>div {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.buttons-set {
  margin-top: 20px;
  display: flex;
}

.buttons-set>button:first-child {
  margin-right: auto;
}

.profile-posts {
  /* background-color: var(--main-color); */
  border-radius: 0 10px 10px 0;
  max-width: min(40vw, 550px);
}

.post-item {
  /* background-color: white; */
  border: 1px solid var(--main-color);
  border-radius: 10px;
  margin: 40px;
  padding: 20px 20px 10px 20px;
}

.post-item>*:not(:first-child, .comments) {
  margin-top: 10px;
}

.author-time-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.author-time-header a {
  font-weight: bold;
}

.author-time-header a:hover {
  text-decoration: underline;
}

.post-date {
  font-size: 0.7rem;
}

.likes {
  color: var(--red-color);
  text-align: end;
}

.post-buttons-set {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-bottom: 10px;
}

.btn-like, .btn-comments {
  border: 1px solid black;
  background-color: white;
  flex: 1;
  padding: 10px 0;
  transition: all 0.2s;
}

.btn-like {
  border-radius: 10px 0 0 10px;
}

.btn-comments {
  border-radius: 0 10px 10px 0;
}

.btn-comments:hover {
  transform: translateX(5px);
}

.btn-like:not(:disabled):hover {
  transform: translateX(-5px);
}

.comments {
  border-top: 1px solid var(--main-color-light);
  right:0;
  width: 90%;
  margin-left: auto;
  max-height: 300px;
  overflow: auto;
  transition: all 1s;
}

.comments::-webkit-scrollbar {
  width: 8px;
}

.comments::-webkit-scrollbar-thumb {
  background-color: var(--main-color-tint);
  border-radius: 5px;
}

.comment-item, .comment-form {
  background-color: var(--main-color-light);
  margin: 10px;
  font-size: 0.9rem;
  padding: 5px;
  border-radius: 5px;
}

.comment-btn-like, .btn-create-comment{
  background-color: white;
  border-radius: 5px;
  padding: 4px;
  transition: scale 0.1s;
  display: block;
  margin-left: auto;
}

.comment-form input {
  background-color: white;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  padding: 2px 5px;
  margin: 5px;
}

.btn-create-comment {
  /* appearance: none; */
}

.comment-btn-like:not(:disabled):hover, .btn-create-comment:hover {
  scale: 1.05;
}

#btn-scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 10px;
  height: 40px;
  width: 40px;
  color: var(--main-color);
  background-color: transparent;
  vertical-align: middle;
  border: 1px solid var(--main-color);
}

#btn-scroll-to-top>* {
  width: 100%;
  height: 100%;
}

#btn-scroll-to-top:hover {
background-color: var(--main-color);
color: white;
animation: movebtn 3s ease-in-out infinite;
transition: all .5s ease-in-out;
}

#not-found {
  background-color: var(--main-color);
  color: white;
  width: 100vw;
  height: 100vh;
  position: relative;
}

#not-found span {
  font-size: min(20vw, 20vh);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@media (max-width: 800px) {
  header{
    height: 80px;
  }
  .profile-posts {
    max-width: 50vw;
  }
  .post-item {
    margin-left: 3vw;
    margin-right: 3vw;
  }
  #btn-scroll-to-top {
    right: 0;
    bottom: 10px;
    height: 30px;
    width: 30px;
    background-color: white;
  }
  #btn-scroll-to-top:hover {
    border: 1px solid white;
  }
}

@media (max-width: 700px) {
  header {
    height: 70px;
    font-size: 1rem;
  }

  nav ul {
    width: auto;
  }
}

@media (max-width: 600px) {
  header {
    height: auto;
    padding: 10px 20px;
  }
  .profile-container {
    padding: 0 5vw;
    align-items: stretch;
    flex-direction: column;
  }
  .profile {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
    position: static;
  }
  .profile-posts {
    border-radius: 0 0 10px 10px;
    max-width: none;
  }
  #btn-delete-avatar {
    margin: 0;
  }
}

@media (max-width: 400px) {
  header {
    padding-left:0;
    padding-right: 0;
  }
  nav ul li {
    margin: 0 10px;
  }
}

@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(-5px);
  }
  50%{
    transform: translateY(0px);
  }
}